
/******************
SHOW-ARTICLE PAGE

******************/

.comment_contentWrap {
  background: var(--greenishCyan-100);
  color: #000;
  padding: 2em;
  border-radius: 1em;
  width: 50%;
  margin: 1em auto;
}
.comment_form {
  padding: 16px;
}
.comment_contentWrap p {
  font-size: 1.2rem;
}

/*****************************************
 BUTTONS FOR ADMIN USE UPDATE AND DELETE
******************************************/

.article_AdminEdit {
  font-size: 1.5rem;
  margin-top: 2em;
}

.article_modify,
.article_delete {
  color: var(--deepMagenta);
  text-decoration: none;
  transition: all 0.3s;
}

.article_modify:hover,
.article_delete:hover {
  border-bottom: 1px solid var(--cyan-100);
}


/******************************************
ADD_POST PAGE
*******************************************/
.main_addPost {
  padding: 16px;
}

.addPostFORM {
  width: 40%;
}

.comment_form-title,
.comment_form-lead_sentence,
.comment_form-content {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

  /* ADD_POST PAGE */
  .addPostFORM{
    width: 100%;
  }
}