
#AllowOverride All
#Require all granted


#Activation du module de réécriture d'URL
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

#Regles de réécriure d'URL
RewriteRule ^(.*)$ public/index.php/?url=$1 [QSA,L]